html{
    height: 100%;
}

body{
    background-image: url('src/NewHomePage.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#drawBtn{
    width: 340px;
    height: 200px;
    position:absolute;
    top: 60%;
    left: 65%;
    background-image: url("src/DrawBtn.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
}

#drawBtn:hover{
    transform: translate(0px, -10px);
    transition: 0.5s;
}

/* 進場動畫1 */
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translate(-50%, -50%) translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translate(-50%, -50%) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translate(-50%, -50%) translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translate(-50%, -50%) translateY(0);
      opacity: 1;
    }
  }

/* 進場動畫2 */
.flip-vertical-left {
	-webkit-animation: flip-vertical-left 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-left 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: translate(-50%, -50%) rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-360deg);
              transform: translate(-50%, -50%) rotateY(-360deg);
    }
  }
  @keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: translate(-50%, -50%) rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-360deg);
              transform: translate(-50%, -50%) rotateY(-360deg);
    }
  }
  
  
/* exits animation */
.slide-out-top {
	-webkit-animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translate(-50%, -50%) translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translate(-50%, -50%) translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translate(-50%, -50%) translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translate(-50%, -50%) translateY(-1000px);
      opacity: 0;
    }
  }
  

/* prize setting */

#prizeImageContainer{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 999;
    /* opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s, visibility 0.3s;  */
}

#prizeImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:300px;
    height:650px;
    /* opacity: 0; 
    visibility: hidden;  */
}

#cancelBtn{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: large;
    font-weight: bold;
}

